
.header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    text-align: center;
    padding-top: 151px;
    padding-bottom: 151px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.container-main {
    width: 856px;
    margin: 0 auto;
}

.section-slogan {
    text-align: center;
    border-radius: 16px;
}

.section-intro img {
    max-width: 1076px;
    margin-left: -110px;
    margin-right: -110px;
}

.section-lined {
    border-bottom: 1px solid var(--neutral-300);
}

.history-line {
    border-left: 1px solid var(--neutral-900);
    padding-left: 8px;
    margin-left: 8px;
}

.list-type-disc {
    list-style-type: disc;
    
}

.concept-line {
    border-left: 3px solid var(--neutral-300);
    padding-left: 12px;
}

.bi {
    padding-right: 8px;
    vertical-align: bottom;
}

.footer {
    text-align: center;
}

.section-story a {
    color: var(--primary-400);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.section-story a:hover {
    background-color: var(--primary-200);
}

/* 馬上註冊 */
.discount {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--primary-200);
}

footer {
    padding-top: 139px;
    padding-bottom: 139px;
    background-color: var(--neutral-100);
}

ul {
    padding: 0;
}

.border-top {
    border-top: 1px solid var(--neutral-300);
}